header {
  width: 100%;
  background: #b5b3fe;
  padding: 16px;

  @media (min-width: 1025px) {
    padding: 24px;
  }
}

.company-name {
  grid-column: 1/5;
  font-weight: 700;
  font-size: 24px;
  width: fit-content;

  @media (min-width: 768px) {
    grid-column: 2/12;
  }

  @media (min-width: 1025px) {
    font-size: 32px;

    &:hover {
      color: #535bf2;
    }
  }
}