.footer {
  width: 100%;
  background: #b5b3fe;
  padding: 16px;
  margin-top: auto;
  
  @media (min-width: 1025px) {
    padding: 24px;
  }
}

.footer__copyright {
  grid-column: 1/5;
  font-weight: 700;
  font-size: 16px;
  color: #111;
  text-align: center;

  @media (min-width: 768px) {
    grid-column: 2/12;
  }

  @media (min-width: 1025px) {
    font-size: 18px;
  }
}